<h3>Chat</h3>
<ul
  class="list-group list-group-flush"
  id="chat-list"
  style="height: 400px; overflow-y: scroll"
>

</ul>
<form secondary="/api/messages" method="post" id="message-form">
  <label>
    Email
    <input
      class="form-control"
      type="email"
      placeholder="Identifiquese con su email"
      name="email"
    />
  </label>
  <label>
    Mensaje <input class="form-control" type="text placeholder="Deje su mensaje"
    name="text" id="form-message">
  </label>
  <input class="btn btn-dark w-100" type="submit" value="Enviar" />
</form>

<script>
  const chatList = document.getElementById("chat-list");
  const messageForm = document.getElementById("message-form");
  const formInputMessage = document.getElementById('form-message');

  const addMessage = (message, client = false) => {
    const template = `<li id="${
      message.id + "/" + message.date
    }" class="list-group-item list-group-item-${
      client ? "primary" : "secondary"
    } mb-2">
    <div class="d-flex w-100 justify-content-between">
      <small class="mb-1">${message.email}</small>
      <small class="text-right">${message.date}</small>
    </div>
    <p class="mb-1">${message.text}</p>
  </li>`;

    chatList.innerHTML += template;
  };

  messageForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const message = Object.fromEntries(new FormData(e.target).entries());
    socket.emit('publish_message', message)
    formInputMessage.value = ''
  })

  socket.on("new_message", (message) => {
    addMessage(message);
  });

  socket.on("update_messages", (messages) => {
    messages.forEach(addMessage)
  });

  socket.on("new_client", (message) => {
    console.log(message)
  });


</script>
